{% extends 'base.html' %}

{% block title %}Inicio - Empresa Miglove{% endblock %}

{% block content %}
    <section class="hero">
        <h1>Accesorios Electrónicos Innovadores</h1>
        <p>En Empresa Miglove ofrecemos productos de alta calidad que te ayudan a conectarte con el futuro.</p>
        <a href="/services" class="cta-button">Descubre nuestros servicios</a>
    </section>
    <section class="testimonios">
        <h2>Testimonios de Nuestros Clientes</h2>
        <div class="testimonio">
            <p>"Empresa Miglove transformó mi experiencia con gadgets electrónicos. ¡Altamente recomendados!"</p>
            <span>- Luis Miguel, Cliente Satisfecho</span>
        </div>
        <!-- Comentario: Aquí puedes agregar más testimonios -->
    </section>
    <section class="redes-sociales">
        <h2>Conéctate con Nosotros</h2>
        <a href="#" class="social-icon">Facebook</a>
        <a href="#" class="social-icon">whatsapp</a>
        <a href="#" class="social-icon">Twitter</a>
    </section>
{% endblock %}
